body{
    background-color: #7E836F;
}

.leftmenu{
   
    width:250px;
    height:1150px; 
    position: fixed;
  z-index: 1;
  top: 1px;
  left: 1px;
  background-color: black;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.leftmenu a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #28A745;
  display: block;
  transition: 1s;
  font-family: 'Roboto', sans-serif;
  
 
}

.leftmenu ul{
    list-style: none;
    float: left;
    margin-left: -18px;
}

.leftmenu a:hover{
    color: #3DFF6A;
}
.leftmenu .close{
    position: absolute;
    top: 8px;
    margin-left: 197px;
    font-size: 35px;
    color: #28A745;
  
}
.leftmenu .close:hover{
    cursor: pointer;
    color: #3DFF6A;
}

  .iconmenu{
    font-size:30px;
    cursor:pointer;
    color: #28A745;
    margin-left: -13px;
    font-family: 'Roboto', sans-serif;
    
 
  }

.iconmenu:hover{
color: #3DFF6A;

  }
  .fas:hover{
    transform:  scale(1.4,1.4);
    transition: 1s;
  }